@{
    ViewData["Title"] = "HDSOFT";
}

<br /> <br />
<h2 class="text-center">
   Bienvenido a HDSOFT!
</h2>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
