html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#Box-Main {
    margin-left:40px;
}
#est_file1{
  background-color: #E4F461;
  border: 1px solid white;
  border-radius: 10px 10px 10px 10px ;
  text-align: center;
}
#est_file2{
  background-color: #E4F461;
  border: 1px solid white;
  border-radius: 10px 10px 10px 10px ;
  text-align: center;
}
#b64string1{
  width: 300px;
  height: 100px;
}
#b64string2{
  width: 300px;
  height: 100px;
}
#drop-area1{
  width: 300px;
  border: 1px dashed gray;
  text-align: center;
  background-color: cornsilk;
}

#btn_registrar{
  display: none;
}
#input_motivo{
  border: 1px solid white;
}
#over{
  margin-top: -30px;
  width: 250px;
  height: 30px;
  position: absolute;
  background-color: white;
}

