@using ProjectWeb_DRA.Models;

@model FileClass
<br />
<form asp-controller="Files1" asp-action="Index" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <br /><br />
    <button type="submit" class="btn btn-primary">Cargar Archivo</button>
</form>
@if (Model != null)
{
<br /> 
<table class="table table-bordered table-striped" cellpadding="0">
    <thead>
        <tr>
            <th>Item</th>
            <th>Nombre Archivo</th>
            <th>Visualizar</th>
        </tr>
    </thead>
    <tbody>
        @foreach(FileClass file in Model.Files)
            {
                <tr>
                    <td>@file.FileId</td>
                    <td>@file.Name</td>
                    <td>
                        <a class="btn btn-outline-success" href="Views/Files1/Index?fileName=@file.Name">Pagina Actual</a>
                        <a class="btn btn-outline-primary" href="Views/Files1/PDFViewerNewTab?fileName=@file.Name" target="_blank">Nueva Pestaña</a>
                    </td>
                </tr>
            }
        </tbody>
</table>
}
<br />
<embed id="embPDF" src="/files/@Model.Name" style="width:70%; height:1000px;margin-left:15%"/>
