@using ProjectWeb_DRA.Models;

@model FileClass

<form asp-controller="Files1" asp-action="Index" method="post" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <br />
    <button type="submit">Cargar</button>
</form>
@if (Model != null)
{
<br /> 
<table class="table table-bordered table-striped" cellpadding="0">
    <thead>
        <tr>
            <th>Item</th>
            <th>Nombre Archivo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(FileClass file in Model.Files)
            {
                <tr>
                    <td>@file.FileId</td>
                    <td>@file.Name</td>
                    <td>
                        <a href="../Files1/Index?fileName=@file.Name">Current Page</a>
                    </td>
                </tr>
            }
        </tbody>
</table>
}
<br /><br />
<embed id="embPDF" src="/files/@Model.Name" style="width:70%; height:1000px;"/>
