@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<br />
<div class="alert alert-warning" role="alert">
    Actualmente no tiene permisos para eliminar estos datos!.
</div> 
<h3>Datos Personales</h3>
<div class="row">
    <div class="col-md-6">
        <p>Su cuenta contiene datos personales que nos ha proporcionado. Esta página le permite descargar sus datos. </p>
       
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Descargar</button>
        </form> <br />
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger disabled" >Eliminar</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
