@model RQCompra

@{
    ViewData["Title"] = "Editar Requerimiento de Compra";
}

<h4> TITULO PRINCIPAL</h4>
<hr />

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
