@{
    ViewData["Title"] = "Privacy Policy";
}

<head>
    <meta charset="utf-8">
    <title>show demo</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <style>
        .div {
            display: none;
            width: 100px;
            height: 100px;
            background: #ccc;
            border: 1px solid #000;
        }
    </style>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <br /><br />
    <button>show the div</button>
    <div class="div">NuevoDIv</div>

    <script>
        $("button").click(function () {
            $(".div").show("fold", 1000);
        });
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<table id="tablaprueba">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombres</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
    </tr>
  </thead>
  <tbody>
  </tbody>

</table>

</body>

