@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm account";
}

<h1>Confirmacion de Cuenta</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<a asp-controller="Home" asp-action="Index" class="btn btn-outline-success ms-3">Ir al inicio</a>