@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmacion de Registro ";
}
<br />
<h1 class="text-center">@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <br />
        <br />
        <br />
        <p class="text-center">
    Por seguridad debe confirmar su cuenta! <a class="btn btn-outline-success" id="confirm-link" href="@Model.EmailConfirmationUrl">Aqui</a>
        </p>
        <br />
        <br />
        <br />
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

