@using HDProjectWeb.Models.Helps;
@model IEnumerable<CentroCosto>

@foreach (var item in Model)
{
    <tr id="tr_cco">
        <td style="display:none">@item.Cco_codepk</td>
        <td>@item.Cco_codcco</td>
        <td>@item.Cco_descco</td>
    </tr>
}